.App {
  font-family: sans-serif;
  text-align: center;
}

.input-field {
  margin: 20px 0 10px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.error-text {
  color: red;
  font-size: 12px;
}